<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Debug">
	<targets>
		<!-- 控制台日志 -->
		<target xsi:type="ColoredConsole" name="console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		<!-- 文件日志 -->
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" archiveFileName="${basedir}/logs/archives/{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" />
	</targets>
	<rules>
		<!-- 控制台日志规则 -->
		<logger name="*" minlevel="Info" writeTo="console" />
		<!-- 文件日志规则 -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
	</rules>
</nlog>
