<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" internalLogLevel="Debug">
	<targets>
		<!-- 控制台日志 -->
		<target xsi:type="ColoredConsole" name="console" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" />
		<!-- 文件日志 -->
		<target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message} ${exception:format=tostring}" archiveFileName="${basedir}/logs/archives/{#}.log" archiveEvery="Day" archiveNumbering="Rolling" maxArchiveFiles="30" />
		<!-- 数据库日志( 使用NOW()函数) -->
		<target name="log_database" xsi:type="Database" connectionString="Host=pgm-2zecqmhgg4wsvqdxmo.pg.rds.aliyuncs.com;Port=5432;Database=jyd_jcpt_db;Username=jyddbuser;Password=Jiyidan*963;Pooling=true;Minimum Pool Size=5;Maximum Pool Size=200;Connection Idle Lifetime=300;Command Timeout=20;SSL Mode=Disable;Trust Server Certificate=true" dbProvider="Npgsql.NpgsqlConnection, Npgsql" commandText="INSERT INTO sys_record_nlog (log_date, log_level, log_type, log_title, logger,message, exception, machine_name, machine_ip,net_request_method,net_request_url,net_user_isauthenticated,net_user_authtype,net_user_identity) VALUES (NOW(), @log_level, @log_type, @log_title, @logger,@message, @exception, @machine_name, @machine_ip,@net_request_method, @net_request_url, @net_user_isauthenticated,@net_user_authtype, @net_user_identity)">
			<parameter name="@log_level" layout="${level}" />
			<parameter name="@log_type" layout="${event-properties:item=LogType}" />
			<parameter name="@log_title" layout="${event-properties:item=LogTitle}" />
			<parameter name="@logger" layout="${logger}" />
			<parameter name="@message" layout="${message}" />
			<parameter name="@exception" layout="${exception:format=tostring}" />
			<parameter name="@machine_name" layout="${machinename}" />
			<parameter name="@machine_ip" layout="${local-ip:cached=true}" />
			<parameter name="@net_request_method" layout="${aspnet-request-method}" />
			<parameter name="@net_request_url" layout="${aspnet-request-url}" />
			<parameter name="@net_user_isauthenticated" layout="${aspnet-user-isauthenticated}" />
			<parameter name="@net_user_authtype" layout="${aspnet-user-authtype}" />
			<parameter name="@net_user_identity" layout="${aspnet-user-identity}" />
		</target>
	</targets>
	<rules>
		<!-- 控制台日志规则 -->
		<logger name="*" minlevel="Info" writeTo="console" />
		<!-- 文件日志规则 -->
		<logger name="*" minlevel="Trace" writeTo="logfile" />
		<!-- 数据库日志规则 -->
		<logger name="logdb" minlevel="Info" writeTo="log_database" />
	</rules>
</nlog>